@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.neo {
		box-shadow: 5px 5px 17px #727272, -5px -5px 17px #bebebed5;
	}
	.AccHeaders {
		@apply !text-brown-100 hover:!text-yellow-600;
	}
	.AccDescription {
		@apply !text-brown-50 !text-xl;
	}

	.buttons {
		@apply drop-shadow-xl shadow-xl mx-auto w-28 my-2 pb-2 pt-3 rounded-xl text-xl text-blue-gray-800 font-sans bg-white flex flex-col overflow-hidden;
	}

	/* .links {
		@apply flex flex-col mx-auto my-2 px-2;
	} */

	.icon {
		@apply text-6xl backdrop-blur-lg text-blue-gray-600 mx-auto;
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
